body {
    margin: 0;
}

a {
    line-height: 0;
}

.centered_content {
    margin: 0 auto !important;
    width: fit-content;
}

.central-form {
    margin: 0 auto !important;
    border: 1px solid #d9d9d9 !important;
    padding: 20px !important;
    border-radius: 18px !important
}
