.create_resume_form {
    max-width: 600px;
}

.view_resume_list {
    width: 800px;
}

.listItem {
    width: 100%;
}

.listItem p {
    white-space: pre-wrap;
}

.label {
    margin-right: 20px;
}

.text {
    width: 338px !important;
}

.text_area_item {
    padding-bottom: 30px !important;
}

@media (max-width: 820px) {
    .view_resume_list {
        width: 100%;
    }
}