.header {
    background-color: #2a3137;
    padding: 20px;
    margin-bottom: 50px;
}

.header a {
    color: white;
}
.header a:hover {
    color: #fea4a4 !important;
}

.logout-button {
    color: #f5222d !important;
}

.navElement {
    margin-left: 30px;
}

.rightNavElement {
    margin-right: 30px;
}